
/*第一屏*/
.content-1 {
	height: 481px;
	background: url(../image/showcar/730/background_730.jpg) center no-repeat;
	background-size: 1024px 481px;
	background-size: cover;
}


.gd560 ul li{
	cursor: pointer;
  position: relative;
  display: inline;
  width: 35px;
  height: 35px;
	line-height:20px;
  margin: 0 12px 5px 0px;
}
.header_right {
  position: absolute;
  right: 40px;
  height: 33px;
  top: 20%;
  margin-top: -10px;
  color: #fff;
}
